extends ../layout.pug

block content  
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        each category in categories
          li.categories-list__item
            a.category-tile.category-tile--default(href=`/offers/category/${category.id}`)
              span.category-tile__image
                +getImage(category.picture, 'Иконка категории')
              span.category-tile__label
                | #{category.label} 
                span.category-tile__qty.js-qty #{category.count}
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each offer, index in offers
            li.tickets-list__item
              .ticket-card(class=`ticket-card--color0${index}`)
                .ticket-card__img
                  +getImage(offer.picture, `Изображение товара`)
                .ticket-card__info
                  span.ticket-card__label #{offer.type}
                  .ticket-card__categories
                    each category in offer.categories
                      a(href=`#`) #{category.label}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}
    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each offer, index in offers
            li.tickets-list__item
              .ticket-card(class=`ticket-card--color0${index}`)
                .ticket-card__img
                  +getImage(offer.picture, 'Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{offer.type}
                  .ticket-card__categories
                    each category in offer.categories
                      a(href=`#`) #{category.label}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}
