extends ../layout.pug

block content    
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        p.search-results__label
          | #{foundWord} 
          span.js-results #{publicationWords}
        ul.search-results__list
          each searchedOffer, index in searchedOffers
            li.search-results__item
              .ticket-card(class=`ticket-card--color0${index}`)
                .ticket-card__img
                  +getImage(searchedOffer.picture, `Изображение товара`)
                .ticket-card__info
                  span.ticket-card__label #{searchedOffer.type}
                  .ticket-card__categories
                    each category in searchedOffer.categories
                      a(href=`#`) #{category.label}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{searchedOffer.title}
                    p.ticket-card__price
                      span.js-sum #{searchedOffer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{searchedOffer.description}
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
          a.tickets-list__link(href='#') Еще 25
        ul
          each offer, index in offers
            li.tickets-list__item
              .ticket-card(class=`ticket-card--color0${index}`)
                .ticket-card__img
                  +getImage(offer.picture, 'Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{offer.type}
                  .ticket-card__categories
                    each offerCategory in offer.categories
                      a(href='#') #{offerCategory.label}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}
