extends ../my-layout.pug

block header
  header.header.header--logged
    .header__wrapper
      a.header__logo.logo(href='/')
        img(src='/img/logo.svg', width='179', height='34', alt='Логотип Куплю Продам')
      nav.header__user-menu
        ul.header__list
          li.header__item
            a(href='/my') Публикации
          li.header__item.header__item--active
            a Комментарии
      form.search(method='get', action='#', autocomplete='off')
        input(type='search', name='search', placeholder='Поиск', aria-label='Поиск')
        .search__icon
        .search__close-btn
      a.header__avatar.avatar(href='#')
        img(src='/img/avatar.jpg', srcset='/img/avatar@2x.jpg 2x', alt='Аватар пользователя')
      a.header__input(href='/register') Вход и регистрация

block content
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden Страница комментариев
        each offer in offers
          .comments__block
            .comments__header
              a.announce-card(href=`/offers/${offer.id}`)
                h2.announce-card__title #{offer.title}
                span.announce-card__info
                  span.announce-card__price ₽ #{offer.sum}
                  span.announce-card__type #{offer.type.label}
            ul.comments-list
              each comment in offer.comments
                li.js-card
                  .comment-card
                    .comment-card__header
                      a.comment-card__avatar.avatar(href='#')
                        img(src='/img/avatar03.jpg', srcset='/img/avatar03@2x.jpg 2x', alt='Аватар пользователя')
                      p.comment-card__author Александр Бурый
                    .comment-card__content
                      p
                        | #{comment.text}
                    button.comment-card__delete.js-delete(type='button') Удалить